.ol {
    list-style: none;
    text-decoration: none;
}

.li {
    text-decoration: none;
    font-size: 1rem;
    margin: 4rem;
}

.dateText {
    margin-top: -1rem;
    font-size: 1rem;
    font-style: italic;
}

.li:visited {
    color: black
}