
.allContent {
    width: 100%;
    background-color: white;
    // margin-left: -21.5rem;
    margin-top: -3rem;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 42px;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid grey;
    
}

.Links {
    text-decoration: none;
    font-size: 1.5rem;
    color: #999999;
}

.Links:hover {
    color: #9225a0;
}

.activeLinks {
    color: #333333;
}